* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    width: 144rem;

    /* Does NOT work on Safari */
    /* scroll-behavior: smooth; */
}
body {
    font-family: "Inter", sans-serif;
    line-height: 1;
    font-weight: 500;
    color: #8a94a6;
}
