/* Below 1440px (Smaller Desktops */
@media only screen and (max-width: 90em) {
}

/* Below 1200px (Landscape Tablets) */

@media only screen and (max-width: 75em) {
    html {
        font-size: 56.25%; /* 9px */
    }

    .row {
        padding: 0 8rem;
    }
}

/* Below 900px (Tablets) */

@media only screen and (max-width: 56.25em) {
    html {
        font-size: 50%; /* 8px */
    }

    /* ---------- Nav---------- */
    .btn-mobile-nav {
        display: block;
        z-index: 9999;
    }
    .main-nav {
        background-color: #fff;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        transform: translateX(100%);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.5s ease-in;
        /* Hide navigation */
        /* display: none; */
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
    }

    .nav-open .main-nav {
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
        transform: translateX(0);
    }

    .nav-open .icon-mobile-nav[name="close-outline"] {
        display: block;
    }
    .nav-open .icon-mobile-nav[name="menu-outline"] {
        display: none;
    }
    .main-nav-list {
        flex-direction: column;
        gap: 4.8rem;
    }

    .main-nav-link:link,
    .main-nav-link:visited {
        font-size: 3rem;
    }

    /* ---------- Mobile-Nav---------- */

    .footer__content {
        gap: 3.2rem;
    }

    .company__brand {
        flex: 100%;
    }
}

/* Below 768px (Smaller Tablets) */

@media only screen and (max-width: 48em) {
    html {
        font-size: 43.75%; /* 7px */
    }
    .row {
        padding: 0 6.4rem;
    }
}

@media only screen and (max-width: 30em) {
    .grid {
        grid-template-columns: 1fr;
    }
    .hero {
        grid-template-columns: 1fr;
    }
    .row {
        padding: 0 4.8rem;
    }

    section,
    footer {
        padding: 9.6rem 0;
    }
    /* ---------- Typography ---------- */
    .heading-primary,
    .offer-primary,
    .job-primary,
    .vacancy-primary {
        font-size: 4rem;
        line-height: 5.5rem;
    }
    .hero-describtion,
    .offer-describtion,
    .job-describtion,
    .vacancy-describtion {
        font-size: 1.8rem;
        line-height: 3.5rem;
    }

    .job {
        grid-template-columns: 1fr;
    }
    .hero-describtion {
        margin-bottom: 3.8rem;
    }
    .resume-link {
        width: 100%;
    }
    .resume-link-btn {
        font-size: 2rem;
        line-height: 3rem;
    }
}
