/* HEADER */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    height: 9.6em;
    padding: 3.9rem 10rem 4rem 10rem;
    margin-bottom: 15rem;
    position: relative;
}
.logo {
    height: 5.4rem;
}

/* Navigation */
.main-nav-list {
    list-style: none;
    display: flex;
    gap: 3.2rem;
    align-items: center;
}

.main-nav-list li {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.main-nav-link:link,
.main-nav-link:visited,
.chevron-down {
    /* display: inline-block; */
    text-decoration: none;
    color: #8a94a6;
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.4rem;
    transition: all 0.3s;
    text-align: center;
}
.main-nav-link:hover,
.main-nav-link:active {
    color: #377dff;
}
.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
    padding: 1.2rem 2.4rem;
    border-radius: 10px;
    color: #fff;
    background-color: #377dff;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
    background-color: #70a2ff;
    color: #fff;
}
/* Mobile */
.btn-mobile-nav {
    border: none;
    background: none;
    cursor: pointer;
    display: none;
}

.icon-mobile-nav {
    height: 4.8rem;
    width: 4.8rem;
    columns: #333;
}

.icon-mobile-nav[name="close-outline"] {
    display: none;
}
/* Sticky navigation */

.sticky {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 999;
    box-shadow: 0 1px 5px #e5f1ff;
    background-color: rgba(255, 255, 255, 0.97);
}

/* Hero Section */

.section-hero {
    background-color: #ffffff;
    padding: 5.3rem 10rem 9.6rem 10rem;
    margin-bottom: 8rem;
}

.hero {
    max-width: 144rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8.3rem;
    align-items: center;
}

.hero-img,
.job-img {
    width: 100%;
}

/* .section-heading */
/* section-sub-heading */

.heading-primary,
.offer-primary,
.job-primary,
.vacancy-primary {
    font-family: "Inter";
    font-size: 6rem;
    font-weight: 700;
    color: #323b4b;
    margin-bottom: 3.3rem;
    line-height: 7.3rem;
}

.hero-describtion,
.offer-describtion,
.job-describtion,
.vacancy-describtion {
    font-size: 2rem;
    line-height: 1.6;
    color: #8a94a6;
    line-height: 3.5rem;
}

.find-an-opening {
    font-size: 1.6rem;
    font-weight: 600;
}

.link:link,
.link:visited {
    color: #377dff;
    text-decoration: none;
}

/* Section Offer */
.offer {
    padding: 10rem 10rem 10rem 10rem;
    background-color: #fafbfc;
}

.offer-primary,
.offer-describtion,
.vacancy-describtion,
.vacancy-primary {
    text-align: center;
}

.offer-describtion,
.offer-main-text {
    margin-bottom: 8.1rem;
}

.offer-package {
    background-color: #ffffff;
    padding: 3.2rem 3.6rem 2.1rem 3.1rem;
    border-radius: 11px;
}

.offer-title {
    font-weight: 700;
    font-size: 2.8rem;
    line-height: 3.4rem;
    color: #323b4b;
    margin-bottom: 2.1rem;
}

.offer-text {
    font-size: 1.8rem;
    line-height: 3rem;
    color: #8a94a6;
}

.icon {
    width: 8rem;
    height: 8rem;
    margin-bottom: 2.9rem;
}

/* Section Job */
.job {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 9rem;
    padding: 10rem 10rem 10rem 10rem;
}

/* Section Vacancy */
.vacancy-section {
    background-color: #fafbfc;
    padding: 10rem 10rem 10rem 10rem;
}
.vacancy-text-box {
    margin-bottom: 7.7rem;
}

.vacancy {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style-type: none;
    align-items: center;
    padding: 0 3.2rem;
}

.vacancy-item {
    height: 15.5rem;
    background-color: #ffffff;
    border-radius: 1.5rem;
    margin-bottom: 2rem;
}

.vacancy-item:last-of-type {
    margin-bottom: 9.2rem !important;
}

.vacancy-header {
    height: 3rem;
    margin-bottom: 2rem;
}
.vacancy-header li {
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 2.9rem;
    color: #323b48;
}

.vacancy-title,
.vacancy-department,
.vacancy-location {
    font-size: 2rem;
    line-height: 2.4rem;
}

.vacancy-title {
    color: #323b48;
    font-weight: 600;
}

.vacancy-department,
.vacancy-location {
    color: #8a94a6;
}

.resume-link {
    text-align: center;
    width: max-content;
    margin: 0 auto;
}

.resume-link-btn {
    display: block;
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.4rem;
    text-decoration: none;
    border-radius: 1rem;
    color: #377dff;
    background-color: #e5f1ff;
    padding: 2rem 11rem 2rem 11rem;
}

/* *************************
**********FOOTER***********
************************* */

/* ---------- Footer ---------- */

.footer__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 9.6rem;
}

.company__brand {
    flex: 0 0 30rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3.2rem;
}

.company__logo {
    height: 4rem;
    width: auto;
}

.company__brand > p,
.company__legal > p {
    font-size: 2rem;
    font-weight: 1.8rem;
    line-height: 3.2rem;
    color: #8a94a6;
}

.company__socials {
    align-self: stretch;
    display: flex;
    gap: 2.4rem;
}

.company__links ul {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
}

.company__links {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

.copyright {
    padding-top: 9.6rem;
}
